/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* reset css ここまで */

body {
  overflow: hidden;
  font-family: sans-serif;
}

.three-stage {
  width: 100vw;
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

video {
  overflow: hidden;
}

#fireworks-stage {
  z-index: 3;
}

#ar-stage {
  z-index: 2;
}

.mask {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 1;
  background-color: rgba(0, 0, 20, 0.4);
}

#start-button {
  width: 70%;
  height: 48px;
  background-color: navy;
  color: white;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  top: 40vh;
  right: 0;
  left: 0;
  z-index: 10;
}

#screen-rotate-device {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #222222;
  color: white;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#video {
  visibility: hidden;
}
